<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <title>{{title}}</title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href='/css/output.css' rel='stylesheet' />
    <link href='/css/styles.css' rel='stylesheet' />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body class='bg-gray-100 overflow-hidden w-full h-full'>
    {{> header}}
    <main>
      {{{body}}}
    </main>

  </body>
</html>